/*==============================
    Menu Components
  ===============================*/
.menu-collapsible {
  @apply w-full max-w-2xs lg:max-w-xs text-16-18 mb-1;
  border-radius: .5rem;

  @supports (corner-shape: squircle) {
    border-radius: 1.5rem;
    corner-shape: squircle;
  }
}

.menu>button {
  @apply w-full max-w-2xs lg:max-w-xs p-4 text-16-18 mb-1;

  border-radius: .5rem;

  @supports (corner-shape: squircle) {
    border-radius: 1.5rem;
    corner-shape: squircle;
  }
}

.menu>h1 {
  background: linear-gradient(90deg,
      oklch(85% 0.15 260),
      oklch(95% 0.02 280));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-style: italic;
}

/*==============================
    Timer Border
  ===============================*/
@property --timer-angle {
  syntax: '<angle>';
  inherits: false;
  initial-value: 360deg;
}

.timer-border {
  position: absolute;
  inset: -4px;
  border-radius: 1.3rem;
  padding: 3px;
  background: conic-gradient(from 180deg,
      /* Start transparent for soft edge */
      transparent 0%,
      #ff00ff 1deg,
      #00ffff var(--timer-angle, 360deg),
      transparent calc(var(--timer-angle, 360deg) + 1deg),
      transparent 100%);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
  transition: --timer-angle 1s linear;
}

/*==============================
    Button Variants
  ===============================*/
.login-btn {
  box-shadow: 0 4px 20px rgba(166, 119, 227, 0.4),
    var(--shadow-inset-border);
}

/*==============================
    50/50 Button
  ===============================*/
@property --gradientAngle {
  syntax: "<angle>";
  initial-value: 45deg;
  inherits: false;
}

/* Based on XOcode’s Uiverse button – MIT License:
   https://uiverse.io/nima-mollazadeh/terrible-panda-97 */
.fifty-fifty-btn {
  color: var(--color-chart-3);

  border: none;
  background: linear-gradient(var(--gradientAngle), #0ce3df, #69007f, #fc0987);
  border-radius: 9px;
  animation: gradientRotate 60s linear infinite;
}

.fifty-fifty-btn:hover {
  animation: none;
}

.fifty-fifty-btn::before {
  content: "";
  position: absolute;
  inset: 1px;
  background: #272727;
  border-radius: 9px;
  transition: 0.5s;
  z-index: -1;
}

.hover-supported .fifty-fifty-btn:hover::before {
  opacity: 0.7;
}

.fifty-fifty-btn::after {
  content: "";
  position: absolute;
  inset: 0px;
  background: linear-gradient(45deg, #0ce3df, #69007f, #fc0987);
  border-radius: 9px;
  transition: 0.5s;
  opacity: 0;
  filter: blur(20px);
  z-index: -1;
}

.hover-supported .fifty-fifty-btn:hover:after {
  opacity: 1;
}

/**====== GameForm Start Button ======**/
@property --btn-angle {
  syntax: "<angle>";
  initial-value: 135deg;
  inherits: false;
}

.animate-angle {
  --btn-angle: 135deg;
  background: linear-gradient(var(--btn-angle), #00c3ff, #d600ba);
  transition: --btn-angle 500ms ease-in-out, all 400ms ease-in-out;
}

.hover-supported .animate-angle:hover {
  --btn-angle: 225deg;
}