@layer utilities {

  /*==============================
      Minimal Mode
  ===============================*/
  .minimal-mode-animations {
    animation: none !important;
    transition: none !important;
  }

  .minimal-mode-illustrations {
    background-image: none;
  }

  /*==============================
      Action Buttons
  ===============================*/
  .main-action {
    @apply min-w-12 min-h-12 p-3;
  }

  /*==============================
      Effects
  ===============================*/
  .side-glow {
    position: relative;
  }

  .side-glow::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -0.625rem;
    right: -0.625rem;
    background: radial-gradient(ellipse at left center, oklch(76.5% 0.151 229 / 0.3), transparent 70%),
      radial-gradient(ellipse at right center, oklch(59.9% 0.265 336 / 0.3), transparent 70%);
    z-index: -1;
    pointer-events: none;
    opacity: 0.2;
  }

  /*==============================
      Purple Background and Effect (AI Addon Button)
  ===============================*/
  .purple-bg {
    background: radial-gradient(65.28% 65.28% at 50% 100%,
        rgba(223, 113, 255, 0.8) 0%,
        rgba(223, 113, 255, 0) 100%),
      linear-gradient(0deg, #7a5af8, #7a5af8);

    box-shadow:
      0 0 0 0.1rem #ffffff44 inset,
      var(--shadow-glow-soft);
    border-radius: 9px;

    position: relative;
    overflow: visible;
  }

  .purple-bg .fx {
    content: "";
    background-repeat: no-repeat;
    position: absolute;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 120%;
  }

  .purple-bg.animating .fx {
    --purple-100: #fed3fe;
    --purple-200: #f4b1ff;
    --purple-300: #d892ff;
    --purple-400: #c780ff;
    --purple-500: #bc73f5;
    --purple-600: #a35ce0;
    --purple-700: #9946dd;
    --purple-800: #8630c9;
    --purple-900: #7723ba;
    --purple-1000: #5b2b86;

    background-image: radial-gradient(circle,
        var(--purple-500) 10%,
        transparent 10%),
      radial-gradient(circle, var(--purple-200) 15%, transparent 15%),
      radial-gradient(circle, var(--purple-300) 22%, transparent 22%),
      radial-gradient(circle, var(--purple-900) 10%, transparent 22%),
      radial-gradient(circle, var(--purple-700) 15%, transparent 15%),
      radial-gradient(circle, var(--purple-500) 20%, transparent 20%),
      radial-gradient(circle, var(--purple-400) 22%, transparent 22%),
      radial-gradient(circle, var(--purple-400) 10%, transparent 10%),
      radial-gradient(circle, var(--purple-300) 22%, transparent 22%),
      radial-gradient(circle, var(--purple-1000) 10%, transparent 10%),
      radial-gradient(circle, var(--purple-1000) 15%, transparent 15%);
    background-size:
      15% 15%,
      25% 25%,
      20% 20%,
      25% 25%,
      18% 18%,
      18% 18%,
      15% 15%,
      22% 22%,
      15% 15%,
      25% 25%,
      20% 20%;
    background-position: 50% 125%;
    animation: bubblesAnimation 1.5s linear(0, 1 44.7%, 0.898 51.8%, 0.874 55.1%, 0.866 58.4%, 0.888 64.3%, 1 77.4%, 0.98 84.5%, 1);
    top: -90%;
  }

  .purple-bg.animating .bottom {
    transform: scale(-1) translateY(-185%) translateX(60%);
  }
}