/*==============================
  FONT FACES
===============================*/
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/poppins/hinted-subset-Poppins-MediumItalic.woff2') format('woff2'),
    url('/fonts/poppins/hinted-subset-Poppins-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/poppins/hinted-subset-Poppins-Medium.woff2') format('woff2'),
    url('/fonts/poppins/hinted-subset-Poppins-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/poppins/hinted-subset-Poppins-SemiBold.woff2') format('woff2'),
    url('/fonts/poppins/hinted-subset-Poppins-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/poppins/hinted-subset-Poppins-Bold.woff2') format('woff2'),
    url('/fonts/poppins/hinted-subset-Poppins-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Creepster-Regular';
  src: url('/fonts/halloween/Creepster-Regular.woff2') format('woff2'),
    url('/fonts/halloween/Creepster-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}